{% load static %}
{% load cms_tags  menu_tags  sekizai_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/myappointments.css' %}">

<body> <center> <h1>Welcome to the Appointment Book!</h1> </center>
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    
    </head>
    <body>
    
    <center>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for ap in appointments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ ap.name }}</td>
            <td>{{ ap.email }}</td>
            <td>{{ ap.phone }}</td>
            <td>{{ ap.message }}</td>
            <td>{{ ap.date }}</td>
            <td>{{ ap.time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
    
    </body>
    </html>
    


</body>
{% endblock %}