{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Add Doctors </h4>
                  <p class="mb-0">Enter Doctors Details : </p>
                </div>  
                <div class="card-body">
                  <form role="form">
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                    
                    
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Qualification</label>
                        <input type="text" class="form-control" name="qualification">
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Specialization</label>
                        <input type="text" class="form-control" name="specialization">
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Appointment Duration</label>
                        <input type="text" class="form-control" name="appointment_duration">
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Hospital</label>
                        <input type="text" class="form-control" name="hospital">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Doctor Image</label>
                        <input type="file" class="form-control" name="doctor_image" accept="image/*">
                    </div>
                    
                    
                    <div class="text-center">
                      <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="../pages/sign-in.html" class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
 

{% endblock %}